<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>Greeks</Name>
      <OrgId>fa6b67bd-82d5-4d3a-964a-d60a18def36b</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vZ3JlZWtzLmNybS5keW5hbWljcy5jb207VXNlcm5hbWU9c2hhd0BncmVla3Mub25taWNyb3NvZnQuY29tO1Bhc3N3b3JkPSdncjMza3MhMjMnO0F1dGhUeXBlPU9mZmljZTM2NTtSZXF1aXJlTmV3SW5zdGFuY2U9dHJ1ZTs=</ConnectionString>
      <Version>8.2.0.788</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>fa6b67bd-82d5-4d3a-964a-d60a18def36b</OrgId>
      <Path>/Contacts.js</Path>
      <WebResourceId>47429812-21fb-e611-8114-c4346bac69bc</WebResourceId>
      <WebResourceName>new_/JS/Contacts.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>